DB_HOST=127.0.0.1
DB_NAME=vdbs
DB_USER=vdbs
DB_PASS=
APP_SECRET=CHANGE_ME_LONG_RANDOM
CRON_TOKEN=CHANGE_ME_LONG_RANDOM
ADMIN_EMAIL=admin@vdb.schule
ADMIN_INITIAL_PASSWORD=KaMn9z3fz4bj2muj
UPLOAD_DIR=C:/xampp/htdocs/Wahlplakte/storage/uploads
BASE_URL=http://wahlplakate.localhost
PARTY_CODE_PARTEILOS=PARTEILOS
